<footer class="footer">
        <div class="container footer-cont">
            <div class="footer-logo-cont">
                <a href="/index.html"  class="footer-logo">
                    <svg class="" width="84" height="36">
                        <use href="/img/iconsf.svg/symbol-defs.svg#icon-logo"></use>
                    </svg>
                </a>
                <p class="footer-text">
                    Subscribe to our newsletter for the latest updates on our yoga courses and events.
                </p>
                <form class="form-wrap">
                    <label class="label-footer" for="user-email">
                            <input type="email" name="email" id="user-email" class="footer-input"
                                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Your email here" />
                    </label>
                    <button class="footer-button" type="submit">
                        Subscribe
                    </button>
                </form>
    
                <p class="text-btn">
                    By subscribing, you consent to our Privacy Policy and agree to receive updates.
                </p>
    
                <p class="end-text-none">© 2025 Yoga Studio. All rights reserved.</p>
            </div>
    
            <div class="links-container">
                <div class="quick-links-footer">
                    <p class="links-title-footer">
                        Quick Links</p>
                    <ul class="footer-quick-list">
                        <li class="link-item-footer">
                            <a href="#yoga-classes" class="link-text-footer">Yoga Classes</a>
                        </li>
    
                        <li class="link-item-footer">
                            <a href="#team" class="link-text-footer">Team</a>
                        </li>
    
                        <li class="link-item-footer">
                            <a href="#pricing" class="link-text-footer">Pricing</a>
                        </li>
    
                        <li class="link-item-footer">
                            <a href="#contacts" class="link-text-footer">Contacts</a>
                        </li>
                    </ul>
    
                </div>
                <div class="social-media-footer" id="contacts">
                    <p class="social-media-text">Connect With Us</p>
                    <ul class="footer-social-list">
                        <li class="footer-social-item">
                            <a href="https://www.facebook.com/goITclub" target="_blank" class="footer-social-link">
                                <svg class="svg-social-footer" width="24" height="24">
                                    <use href="/img/iconsf.svg/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                                <p class="link-text-footer">
                                    Facebook
                                </p>
                            </a>
                        </li>
    
                        <li class="footer-social-item">
                            <a href="https://www.instagram.com/goitclub/" target="_blank" class="footer-social-link">
                                <svg class="svg-social-footer" width="24" height="24">
                                    <use href="/img/iconsf.svg/symbol-defs.svg#icon-Instagram"></use>
                                </svg>
                                <p class="link-text-footer">
                                    Instagram
                                </p>
                            </a>
                        </li>
    
                        <li class="footer-social-item">
                            <a href="https://www.youtube.com/c/GoIT" target="_blank" class="footer-social-link">
                                <svg class="svg-social-footer" width="24" height="24">
                                    <use href="/img/iconsf.svg/symbol-defs.svg#icon-Youtube"></use>
                                </svg>
                                <p class="link-text-footer">
                                    YouTube
                                </p>
                            </a>
                        </li>
    
                        <li class="footer-social-item">
                            <a href="https://www.linkedin.com/company/goit-start-your-career-in-it/" target="_blank"
                                class="footer-social-link">
                                <svg class="svg-social-footer" width="24" height="24">
                                    <use href="/img/iconsf.svg/symbol-defs.svg#icon-LinkedIn">
                                    </use>
                                </svg>
                                <p class="link-text-footer">
                                    LinkedIn
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
    
            </div>
    
            <p class="end-text">© 2025 Yoga Studio. All rights reserved.</p>
    
        </div>
</footer>


