<section class="footer">
    <div class="container footer-cont">
        <div class="footer-logo-cont">
            <a href="" target="" class="footer-logo">
                <svg class="" width="84" height="36">
                  <use href="../img/iconsf.svg/symbol-defs.svg#icon-logo"></use>
                </svg>
            </a>
            <p class="footer-text">
                Subscribe to our newsletter for the latest updates on our yoga courses and events.
            </p>
            <div class="label-wrap">
                <label class="label-footer" for="user-email">
                    <div class="input-wrap-footer">
                        <input type="email" name="email" id="user-email" class="footer-input" placeholder="Your email here" />
                    </div>
                </label>
                <button class="footer-button" type="submit">
                    Join
                </button>
            </div>
            
            <p class="text-btn">
                By subscribing, you consent to our Privacy Policy and agree to receive updates.
            </p>

            <p class="end-text-none">© 2025 Yoga Studio. All rights reserved.</p>
        </div>

        <div class="links-container">
            <div class="quick-links-footer">
                <p class="links-title-footer">
                    Quick Links</p>
                <ul class="footer-quick-list">
                    <li class="link-item-footer">
                        <p class="link-text-footer">
                            Yoga Classes</p>
                    </li>
            
                    <li class="link-item-footer">
                        <p class="link-text-footer">
                            Team</p>
                    </li>
            
                    <li class="link-item-footer">
                        <p class="link-text-footer">
                            Pricing</p>
                    </li>
            
                    <li class="link-item-footer">
                        <p class="link-text-footer">Contacts</p>
                    </li>
                </ul>
            
            </div>
            <div class="social-media-footer">
                <p class="social-media-text">Connect With Us</p>
                <ul class="footer-social-list">
                    <li class="footer-social-item">
                        <a href="https://www.facebook.com/" target="_blank" class="footer-social-link">
                            <svg class="svg-social-footer" width="24" height="24">
                                <use href="../img/iconsf.svg/symbol-defs.svg#icon-facebook"></use>
                            </svg>
                        </a>
                        <p class="link-text-footer">
                            Facebook
                        </p>
                    </li>
            
                    <li class="footer-social-item">
                        <a href="https://www.instagram.com/" target="_blank" class="footer-social-link">
                            <svg class="svg-social-footer" width="24" height="24">
                                <use href="../img/iconsf.svg/symbol-defs.svg#icon-Instagram"></use>
                            </svg>
                        </a>
                        <p class="link-text-footer">
                            Instagram
                        </p>
                    </li>
            
                    <li class="footer-social-item">
                        <a href="https://www.youtube.com/" target="_blank" class="footer-social-link">
                            <svg class="svg-social-footer" width="24" height="24">
                                <use href="../img/iconsf.svg/symbol-defs.svg#icon-Youtube"></use>
                            </svg>
                        </a>
                        <p class="link-text-footer">
                            YouTube
                        </p>
                    </li>
            
                    <li class="footer-social-item">
                        <a href="https://www.linkedin.com/" target="_blank" class="footer-social-link">
                            <svg class="svg-social-footer" width="24" height="24">
                                <use href="../img/iconsf.svg/symbol-defs.svg#icon-LinkedIn">
                                </use>
                            </svg>
                        </a>
                        <p class="link-text-footer">
                            LinkedIn
                        </p>
                    </li>
                </ul>
            </div>

        </div>

        <p class="end-text">© 2025 Yoga Studio. All rights reserved.</p>
        
    </div>
</section>

