<section class="gallery" id="gallery">
    <div class="container container-gallery">
        <h2 class="title-gallery">Breathe in the Space</h2>
        <p class="p-gallery">Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during
        each session.</p>
        <ul class="ul-gallery">
            <li class="li-gallery">
                <picture>
                    <source 
                    srcset="/img/gallery/images_1_tel_1x.jpg 1x, /img/gallery/images_1_tel_2x.jpg 2x" 
                    media="(max-width: 767px)" 
                    />
                    <source 
                    srcset="/img/gallery/images_1_tablet_1x.jpg 1x, /img/gallery/images_1_tablet_2x.jpg 2x" 
                    media="(min-width: 768px)" 
                    />
                    <source 
                    srcset="/img/gallery/decktop_1_1x.jpg 1x, /img/gallery/decktop_1_2x.jpg 2x" 
                    media="(min-width: 1336px)" 
                    />
                    <img src="/img/gallery/decktop_1_1x.jpg" 
                    width="155" 
                    height="155" 
                    alt="Images-one" 
                    class="img-gallery" />
                </picture>
            </li>
            <li class="li-gallery">
                <picture>
                    <source 
                    srcset="/img/gallery/images_2_tel_1x.jpg 1x, /img/gallery/images_2_tel_2x.jpg 2x"
                    media="(max-width: 767px)" 
                    />
                    <source 
                    srcset="/img/gallery/images_2_tablet_1x.jpg 1x, /img/gallery/images_2_tablet_2x.jpg 2x"
                    media="(min-width: 768px)" 
                    />
                    <source 
                    srcset="/img/gallery/decktop_2_1x.jpg 1x, /img/gallery/decktop_2_2x.jpg 2x" 
                    media="(min-width: 1336px)" 
                    />
                    <img src="/img/gallery/decktop_2_1x.jpg" 
                    width="155" 
                    height="155" 
                    alt="Images-two" 
                    class="img-gallery" />
                </picture>
            </li>
            <li class="li-gallery">
                <picture>
                    <source 
                    srcset="/img/gallery/images_3_tel_1x.jpg 1x, /img/gallery/images_3_tel_2x.jpg 2x"
                    media="(max-width: 767px)" 
                    />
                    <source 
                    srcset="/img/gallery/images_3_tablet_1x.jpg 1x, /img/gallery/images_3_tablet_2x.jpg 2x"
                    media="(min-width: 768px)" 
                    />
                    <source 
                    srcset="/img/gallery/decktop_3_1x.jpg 1x, /img/gallery/decktop_3_2x.jpg 2x"
                    media="(min-width: 1336px)" 
                    />
                    <img src="/img/gallery/decktop_3_1x.jpg" 
                    width="155" 
                    height="155" 
                    alt="Images-three"
                    class="img-gallery" />
                </picture>
            </li>
            <li class="li-gallery">
                <picture>
                    <source 
                    srcset="/img/gallery/images_4_tel_1x.jpg 1x, /img/gallery/images_4_tel_2x.jpg 2x"
                    media="(max-width: 767px)" 
                    />
                    <source 
                    srcset="/img/gallery/images_4_tablet_1x.jpg 1x, /img/gallery/images_4_tablet_2x.jpg 2x"
                    media="(min-width: 768px)" 
                    />
                    <source 
                    srcset="/img/gallery/decktop_4_1x.jpg 1x, /img/gallery/decktop_4_2x.jpg 2x"
                    media="(min-width: 1336px)" 
                    />
                    <img src="/img/gallery/decktop_4_1x.jpg" 
                    width="155" 
                    height="155" 
                    alt="Images-four" 
                    class="img-gallery" />
                </picture>
            </li>
            <li class="li-gallery">
                <picture>
                    <source 
                    srcset="/img/gallery/images_5_tel_1x.jpg 1x, /img/gallery/images_5_tel_2x.jpg 2x"
                    media="(max-width: 767px)" 
                    />
                    <source 
                    srcset="/img/gallery/images_5_tablet_1x.jpg 1x, /img/gallery/images_5_tablet_2x.jpg 2x"
                    media="(min-width: 768px)" 
                    />
                    <source 
                    srcset="/img/gallery/decktop_5_1x.jpg 1x, /img/gallery/decktop_5_2x.jpg 2x"
                    media="(min-width: 1336px)" 
                    />
                    <img src="/img/gallery/decktop_5_1x.jpg" 
                    width="155" 
                    height="155" 
                    alt="Images-five" 
                    class="img-gallery" />
                </picture>
            </li>
            <li class="li-gallery">
                <picture>
                    <source 
                    srcset="/img/gallery/images_6_tel_1x.jpg 1x, /img/gallery/images_6_tel_2x.jpg 2x"
                    media="(max-width: 767px)" 
                    />
                    <source 
                    srcset="/img/gallery/images_6_tablet_1x.jpg 1x, /img/gallery/images_6_tablet_2x.jpg 2x"
                    media="(min-width: 768px)" 
                    />
                    <source 
                    srcset="/img/gallery/decktop_6_1x.jpg 1x, /img/gallery/decktop_6_2x.jpg 2x"
                    media="(min-width: 1336px)" 
                    />
                    <img src="/img/gallery/decktop_6_1x.jpg" 
                    width="155" 
                    height="155" 
                    alt="Images-six" 
                    class="img-gallery" />
                </picture>
            </li>
        </ul>
    </div>
</section>