<header class="header">
    <div class="container header-box">

        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-item">
                    <a href="#yoga-classes" class="header-item-link current">Yoga Classes</a>
                </li>
                <li class="header-item">
                    <a href="#team" class="header-item-link">Team</a>
                </li>
                <li class="header-item">
                    <a href="#testimonials" class="header-item-link">Testimonials</a>
                </li>
                <li class="header-item">
                    <a href="#pricing" class="header-item-link">Pricing</a>
                </li>
                <li class="header-item">
                    <a href="#contacts" class="header-item-link">Contacts</a>
                </li>
            </ul>
        </nav>
        
        <button class="header-btn" type="button">
            <svg class="header-burger" width="16" height="12">
              <use href="/img/header/header-icons.svg#icon-burger"></use>
            </svg>
        </button>
        <a class="header-logo" href="../index.html">
            <svg class="header-icon" width="83" height="23">
              <use href="/img/header/header-icons.svg#icon-yoga-bloom"></use>
            </svg>
        </a>

        <a href="#pricing" class="header-link">Join</a>
        <a href="#pricing" class="header-link-now">Join Now</a>

    </div>
</header>

<div class="modal-menu">
    <div class="modal-window">

            <div class="modal-header">
                <button class="modal-close" type="button">
                    <svg class="modal-icon" width="12"
                        height="12">
                        <use
                            href="/img/header/header-icons.svg#icon-menu-close">
                        </use>
                    </svg>
                </button>
                <a class="header-logo" href="../index.html">
                    <svg class="header-icon" width="83"
                        height="23">
                        <use
                            href="/img/header/header-icons.svg#icon-yoga-bloom">
                        </use>
                    </svg>    </a>
                <a href="#pricing" class="header-link">Join</a>
                <a href="#pricing" class="header-link-now">Join Now</a>
            </div>

            <ul class="modal-list">
                <li class="modal-item">
                    <a href="#yoga-classes" class="modal-item-link">Yoga Classes</a>
                </li>
                <li class="modal-item">
                    <a href="#team" class="modal-item-link">Team</a>
                </li>
                <li class="modal-item">
                    <a href="#testimonials" class="modal-item-link">Testimonials</a>
                </li>
                <li class="modal-item">
                    <a href="#pricing" class="modal-item-link">Pricing</a>
                </li>
                <li class="modal-item">
                    <a href="#contacts" class="modal-item-link">Contacts</a>
                </li>
            </ul>

            <a href="#pricing" class="modal-link">Join Now</a>

    </div>
</div>