<section class="modals">
    <div class="container modal-container">

        <div class="modal-back-overlay" data-modal-10>

            <div class="modal">

                <button class="modal-close-btn" type="button" data-modal-close-10>
                    <svg class="modal-close-btn-icon" width="16" height="16">
                        <use href="./img/modals-sprite.svg#icon-modal-close-btn"></use>
                    </svg>
                </button>

                <p class="modal-price-header">Join Now!</p>
                <p class="modal-product">One Session</p>
                <p class="modal-price">$10</p>

                <form class="modal-form">
                    <label class="modal-form-label">Your Name<br />
                        <input class="modal-form-input name-input" type="text" name="username" placeholder="Liam" />
                    </label>

                    <div class="sub-modal-form">

                        <label class="modal-form-label">Email<br />
                            <input class="modal-form-input" type="email" name="useremail"
                                placeholder="hello@yogabloom.com"
                                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" />
                        </label>

                        <label class="modal-form-label">Phone number<br />
                            <input class="modal-form-input" type="tel" name="userphone"
                                placeholder="+380 (95) 123 12 12" required />
                        </label>

                    </div>

                    <button type="submit" class="modal-submit-btn">Go to checkout</button>
                </form>

            </div>

        </div>

        <div class="modal-back-overlay" data-modal-65>

            <div class="modal">

                <button class="modal-close-btn" type="button" data-modal-close-65>
                    <svg class="modal-close-btn-icon" width="16" height="16">
                        <use href="./img/modals-sprite.svg#icon-modal-close-btn"></use>
                    </svg>
                </button>

                <p class="modal-price-header">Join Now!</p>
                <p class="modal-product">8 Sessions Package</p>
                <p class="modal-price">$65</p>

                <form class="modal-form">
                    <label class="modal-form-label">Your Name<br />
                        <input class="modal-form-input name-input" type="text" name="username" placeholder="Liam" />
                    </label>

                    <div class="sub-modal-form">

                        <label class="modal-form-label">Email<br />
                            <input class="modal-form-input" type="email" name="useremail"
                                placeholder="hello@yogabloom.com"
                                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" />
                        </label>

                        <label class="modal-form-label">Phone number<br />
                            <input class="modal-form-input" type="tel" name="userphone"
                                placeholder="+380 (95) 123 12 12" required />
                        </label>

                    </div>

                    <button type="submit" class="modal-submit-btn">Go to checkout</button>
                </form>

            </div>

        </div>

        <div class="modal-back-overlay" data-modal-80>

            <div class="modal">

                <button class="modal-close-btn" type="button" data-modal-close-80>
                    <svg class="modal-close-btn-icon" width="16" height="16">
                        <use href="./img/modals-sprite.svg#icon-modal-close-btn"></use>
                    </svg>
                </button>

                <p class="modal-price-header">Join Now!</p>
                <p class="modal-product">12 Sessions Package</p>
                <p class="modal-price">$80</p>

                <form class="modal-form">
                    <label class="modal-form-label">Your Name<br />
                        <input class="modal-form-input name-input" type="text" name="username" placeholder="Liam" />
                    </label>

                    <div class="sub-modal-form">

                        <label class="modal-form-label">Email<br />
                            <input class="modal-form-input" type="email" name="useremail"
                                placeholder="hello@yogabloom.com"
                                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" />
                        </label>

                        <label class="modal-form-label">Phone number<br />
                            <input class="modal-form-input" type="tel" name="userphone"
                                placeholder="+380 (95) 123 12 12" required />
                        </label>

                    </div>

                    <button type="submit" class="modal-submit-btn">Go to checkout</button>
                </form>

            </div>

        </div>

    </div>

</section>