<section class="pricing">
  <div class="container">
    <p class="pricing-text-over-title">Affordable</p>
    <h2 class="pricing-title">Pricing Plans</h2>
    <p class="pricing-text">Choose the perfect plan for your yoga journey.</p>
    <div class="pricing-box-container">
      <div class="pricing-box">
        <p class="pricing-box-title">One Session</p>
        <p class="pricing-box-text">$10</p>
        <ul class="pricing-ul">
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">1 group session</p>
          </li>
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">discount for next 2 Sessions</p>
          </li>
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">Community support group</p>
          </li>
        </ul>
        <button type="button" class="pricing-button">Join</button>
      </div>
      <div class="pricing-box">
        <p class="pricing-box-title">8 Sessions Package</p>
        <p class="pricing-box-text">$65</p>
        <ul class="pricing-ul">
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">6 Group Sessions</p>
          </li>
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">2 Individual Sessions</p>
          </li>
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">Priority customer support</p>
          </li>
        </ul>
        <button type="button" class="pricing-button">Join</button>
      </div>
      <div class="pricing-box">
        <div class="pricing-change">
          <p class="pricing-box-title">12 Sessions Package</p>
          <p class="pricing-box-text pricing-box-text-last">$80</p>
        </div>
        <ul class="pricing-ul">
          <li class="pricing-list pricing-list-change">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">8 Group Sessions</p>
          </li>
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">4 Individual Sessions</p>
          </li>
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">Access to advanced classes</p>
          </li>
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">Monthly yoga challenges</p>
          </li>
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">Exclusive member discounts</p>
          </li>
          <li class="pricing-list">
            <svg class="icon-check" width="24" height="24">
              <use href="/img/pricing.svg/sprite.svg#icon-check"></use>
            </svg>
            <p class="pricing-list-text">Community support group</p>
          </li>
        </ul>
        <button type="button" class="pricing-button pricing-button-last">
          Join
        </button>
      </div>
    </div>
  </div>
</section>
