.container-gallery {
    margin-top: 64px;
    margin-bottom: 64px;
}

.text-gallery {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.title-gallery {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
}

.p-gallery {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #0d0b0a;
}

.ul-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    padding-top: 48px;
    max-width: 335px;
    margin: 0 auto;
    list-style: none;
}

.img-gallery {
    border-radius: 16px;
}

@media screen and (min-width: 768px) {
    .container-gallery {
        margin-top: 40px;
        margin-bottom: 40px;
        }
    
    .text-gallery {
        gap: 24px;
    }
    
    .li-gallery {
        width: calc((100% - 24px) / 2);
    }

    .ul-gallery {
        max-width: 704px;
        padding-top: 80px;
    }

    .img-gallery {
        width: 340px;
        height: 290px;
    }
}

@media screen and (min-width: 1336px) {
    .title-gallery {
        font-size: 52px
    }

    .p-gallery {
        font-weight: 500;
        max-width: 768px;
    }

    .ul-gallery {
        max-width: 1312px;
    }

    .li-gallery {
        width: calc((100% - 48px) / 3);
    }

    .img-gallery {
        width: 100%;
            height: auto;
            display: block;
    }

    .container-gallery {
        margin-top: 112px;
        margin-bottom: 112px;
    }

}