.gallery {
    padding: 64px 0;
}
.title-gallery {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 20px;
}

.p-gallery {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #0d0b0a;
    margin-bottom: 48px;
}

.ul-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    max-width: 335px;
    margin: 0 auto;
    list-style: none;
}

.img-gallery {
    border-radius: 16px;
}

@media screen and (min-width: 768px) {
    .gallery{
        padding: 40px 0;
    }

    .p-gallery {
        margin-bottom: 80px;
    }
    .title-gallery {
        margin-bottom: 24px;    
    }
    .li-gallery {
        width: calc((100% - 24px) / 2);
    }

    .ul-gallery {
        max-width: 704px;
    }

    .img-gallery {
        width: 340px;
        height: 290px;
    }

}

@media screen and (min-width: 1336px) {
    .title-gallery {
        font-size: 52px;
        margin-bottom: 24px;    
    }

    .p-gallery {
        font-weight: 500;
        max-width: 768px;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .ul-gallery {
        max-width: 1312px;
    }

    .li-gallery {
        width: calc((100% - 48px) / 3);
    }

    .img-gallery {
        width: 100%;
            height: auto;
            display: block;
    }
}