.pricing-container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.pricing-text-over-title {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding-bottom: 12px;
}

.pricing-title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    padding-bottom: 20px;
}

.pricing-text {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    padding-bottom: 48px;
}

.pricing-box-title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
}

.pricing-box-text {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 16px;
}

.pricing-box {
    display: flex;
    flex-direction: column;
    border: 0px solid rgba(13, 11, 10, 0.15);
    border-radius: 16px;
    padding: 32px 24px;
    height: auto;
    background: #dfebeb;
}

.pricing-box:not(:last-child) {
    margin-bottom: 24px;
}

.pricing-list-text {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding-bottom: 16px;
}

.pricing-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 16px;
}

.pricing-button {
    font-family: "Sarabun", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #0d0b0a;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    height: 46px;
    background: #c2d9fc;
        
}

@media screen and (min-width: 768px) {
    .pricing-container {
        padding: 40px 32px;
    }

    .pricing-text-over-title {
        padding-bottom: 16px;
    }

    .pricing-text {
        font-size: 18px;
        padding-bottom: 24px;
    } 

    .pricing-box-text {
        font-size: 72px;
        padding-bottom: 32px;
    }

    .pricing-title {
        padding-bottom: 24px;
    } 

     .pricing-box-container {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        gap: 24px;
       
    }

     .pricing-box {
        width: calc((100% - 24px) / 2);
    }

    .pricing-box:not(:last-child) {
        margin-bottom: initial;
    }

    .pricing-button {
        margin-top: 32px;
    }

    .pricing-box:last-child {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        height: 383px;
        padding: 86px 16px;
        position: relative;
    }
    .pricing-list-hidden {
        display: none;
    }

    .pricing-button-last {
        position: absolute;
        left: 16px;
        bottom: 86px;
        min-width: 320px;
    }

    .pricing-box-text-last {
        padding: 24px 0;
    }
}

@media screen and (min-width: 1336px) {
    .pricing-container {
        padding: 112px 40px;
    }

    .pricing-box-text {
        padding-bottom: 40px;  
    }

    .pricing-title {
        font-size: 52px;     
    }

    .pricing-box-title {
    font-size: 22px;
    }

    .pricing-button-last {
    position: initial;
    left: initial;
    bottom: initial;
    min-width: 0;
    }

    .pricing-box {
    padding: 32px;
    width: calc((100% - 48px) / 3);
    height: 509px;
    margin:  0 auto;
    }

    .pricing-change {
    align-self: center;
    justify-content: space-around;
    }

    .pricing-box:last-child {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: auto;
        padding: 32px;
        position: initial;
        width: calc((100% - 48px) / 3);
    }

    .pricing-box-text-last {
    padding-top: 8px;
    padding-bottom: 32px;
    }

    .pricing-button {
    align-self: center;
    margin-top: auto;
    }
}



       
